
form{
  margin: 10px;
}

table{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #457b9d ;
}

th{
  width: 800px;
  align-items: center;
}

tbody{
  width: 900px;
  margin: 10px;
}

#sub-total{
  font-size: 1.5rem;
  margin: 10px;
}
.total{
  margin: 10px;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

#shopping-cart-actions{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#shopping-cart-actions ul li{
  padding: 4px;
}

a{
  text-decoration: none;
}

.btn{
  color: #707070;
}
